<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>studenForm</title>
</head>
<body>
     {% comment %} <form action="" method="get">
      <table>
            {{form.as_p}}
           </table>
           <input type="submit" value="submit">
     </form>
     <hr>
     <form action="" method="get">
      <table>
            {{form.name}}
            {{form.email}}
           </table>
           <input type="submit" value="submit">
     </form>
     <hr> {% endcomment %}
     {% comment %} form rendarint options {% endcomment %}

    {% comment %} <label for="{{form.name.id_for_label}}">Name</label>
     {{form.name}}

     <hr>
     {{form.name.label_tag}}
     {{form.name}}
     {{form.email.label_tag}}
     {{form.email}} {% endcomment %}


     {% for field in form %}
     {{field.name}}
     {{field}}
     {% endfor %}
    



     {% comment %} {% for field in form.visible_fields %}
     {{field.name}}
     {{field}}
     {% endfor %}
     {% for hidden in form.hidden_fields %}
     {{hidden}} 
    
     {% endfor %} {% endcomment %}
</body>
</html>